<h2 class="font-base-section">Pagination is a UI element for content navigation</h2>
<p class="description-section">Pagination</p>

<!-- IMPORT -->

<br>
<h3>Import</h3>
<app-code-template [code]="codeImport"></app-code-template>

<!--  -->

<br>
<h3>Basic</h3>
<magma-card>
    <magma-pagination
          [totalItems]="150"
          [pageSize]="10"
          [currentPage]="currentPage"
          (pageChange)="onPageChange($event)"
    ></magma-pagination>
</magma-card>
<br>
<app-code-template [code]="codePaginationExamp"></app-code-template>

<!--  -->