<section>
    <h2 class="font-base-section">Components</h2>
    <p class="description-section">Ready for your next project</p>

    <div class="list_container">
        <ul>
            <li (click)="navigateTo('components', 'card')"> 
                <div class="card_item"></div>
                <p>Card</p>
            </li>
            <li (click)="navigateTo('components', 'input')"> 
                <div class="card_item"></div>
                <p>Input</p>
            </li>
            <li (click)="navigateTo('components', 'table')">
                <div class="card_item"></div>
                <p>Table</p>
            </li>
            <li (click)="navigateTo('components', 'button')">
                <div class="card_item"></div>
                <p>Button</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Calendar</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Header</p>
            </li>
        </ul>
    </div>
</section>
