<section>
    <h2 class="font-base-section">Components</h2>
    <p class="description-section">Ready for your next project</p>

    <div class="list_container">
        <ul>
            <li>
                <div class="card_item"></div>
                <p>Cards</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Headers</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Banners</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Calendars</p>
            </li>
            <li>
                <div class="card_item"></div>
                <p>Grid List</p>
            </li>
        </ul>
    </div>
</section>
