<h2 class="font-base-section">Progress Spinner is a UI element for showing loading states</h2>
<p class="description-section">Progress Spinner</p>

<!-- IMPORT -->

<br>
<h3>Import</h3>
<app-code-template [code]="codeImport"></app-code-template>
<br>
<h2 class="font-base-section">Add to project provider</h2>
<br>
<app-code-template [code]="codeImportPrivider"></app-code-template>

<!--  -->

<br>
<h3>Basic</h3>
<magma-card style="display: flex; align-items: center; justify-content: center;">
    <progress-spinner [size]="26"></progress-spinner>
</magma-card>
<br>
<!-- <h3 class="blue_color">Code</h3> -->
<app-code-template [code]="codeProgressSpinnerExamp"></app-code-template>

<!--  -->