<h2 class="font-base-section">Timeline is a UI component for visualizing time-based events</h2>
<p class="description-section">Timeline</p>

<!-- IMPORT -->

<br>
<h3>Import</h3>
<app-code-template [code]="codeImport"></app-code-template>

<!--  -->

<br>
<h3>Basic</h3>
<magma-card>
    <magma-timeline>
        <magma-timeline-item>
            Item 1
        </magma-timeline-item>
        <magma-timeline-item>
            Item 2
        </magma-timeline-item>
    </magma-timeline>
</magma-card>
<br>
<!-- <h3 class="blue_color">Code</h3> -->
<app-code-template [code]="codeTimelineExamp"></app-code-template>

<!--  -->