@import "../node_modules/magma-core/src/lib/assets/styles.scss";
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0.9rem;
}
*{
    font-family: "Inter", serif;
    // font-family: 'Lato', sans-serif;
    // --font-sans: InterVariable, system-ui, sans-serif;
    text-size-adjust: 100%;
    font-weight: 600;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;//2c3039
  // border: 1px solid #cacaca;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #888888;
}

.w-full {
    width: 100%;
}
ul{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
a{
    color: inherit;
    text-decoration: inherit;
}
h2, p{
    margin: 0px;
}
.font-base-section{
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0px;
    color: var(--blue);
}
.description-section{
    font-weight: 800;
    font-size: 2rem;
    margin-top: 1rem;
}
:root{
    --container-content: 85rem;
    --green: #2dc976;
    --blue: #5591ff;
    --yellow: #e4c517;
    --red: #bb1f29;
    --white: #fff;
    // --background-primary-100: #fff;

    --background-primary-100: #101827;
    --background-primary-200: #101827;
}

pre[class*="language-"] {
  background: transparent !important; /* Użyj !important, jeśli potrzeba */
  padding: 0px!important;
  border-radius: 0px!important;
  color: white;
}